@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 33 / var(--tw-bg-opacity));
  font-family: Sora, sans-serif;
  --tw-text-opacity: 1;
}
@media screen and (max-width: 480px) {
  .scroll-feed {
    max-height: 70% !important;
  }
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.group:hover .group-hover\:block {
  display: block;
}
.hover\:w-64:hover {
  width: 45%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  border: 0px none #ffffff;
  border-radius: 50px;
  background: #44f1a6;
  border-radius: 10px;
  height: 2px;
  width: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2b6cb0;
}
::-webkit-scrollbar-thumb:active {
  background: #e20522;
}

.instagram-logo {
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
  background-image: url(https://bit.ly/3v2LT17);
}
.facebook-logo {
  background-position: -414px -259px;
  background-image: url(https://bit.ly/3v2LT17);
  height: 16px;
  width: 16px;
}
.apple-store-logo {
  background-position: -132px -182px;
  height: 42px;
  width: 128px;
  background-image: url(https://bit.ly/3v2LT17);
}
.google-store-logo {
  background-position: 0 -182px;
  height: 42px;
  width: 130px;
  background-image: url(https://bit.ly/3v2LT17);
}
